
.feed-carousel{
	white-space: nowrap;
	overflow: hidden;
}

div.feed-carousel-shelf{
    position: relative;
    left: 0px;
	/*cursor:move;*/
}

div.feed-carousel-shelf li{
	display:inline;
}


div.feed-carousel-shelf li>div{
	display:inline-block;
}

.feed-carousel .left,.feed-carousel .right{
	position:relative;
	top:-100px;
}


/* new line for digital logic*/
svg{
		background:#F5F5F5;
		box-shadow:inset 5px 5px 5px;
	}

.gate-cart{
	padding:20px;
}

.gate-cart .gate{
	cursor:move;
}


.ui-menu {
    box-shadow: 5px 5px 5px #000;
   
}
.ui-menu-item{
	 padding: 5px 15px;
    background: #34556D;
    border-top: 2px solid rgba(255,255,255,0.8);
    border-left: 2px solid rgba(255,255,255,0.9);
    border-bottom: 2px solid rgba(0,0,0,0.8);
    border-right: 2px solid rgba(0,0,0,0.8);
    color: #FFF;
}
.ui-state-focus{	
	background: #609AC5;
}
